<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Styles/Estilos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho margin header">
        <h1 class="center">Seja bem-vindo ao sistema de vendas online</h1>
        <h2 class="center">Neste sistema será possível</h2>
        <ul>
            <li>Incluir Clientes</li>
            <li>Incluir Pordutos</li>
            <li>Efetuar vendas de produtos</li>
            <li>Realizar consultas</li>
        </ul>
    </header>
    <section class="conteudo center margin">
        <p>
            Para ter acesso ao sistema efetuar o login
            <a href="Login.aspx">aqui</a>

            <div> &lt;p&gt; é um paragrafo</div>
        </p>
    </section>
    <footer class="rodape center">
        &copy;Copyright 2019 - Todos os direitos reservados <br />
        Avenida Paulista, 1009 - São Paulo - SP<br />
        CEP 01311-130
    </footer>
</body>
</html>